#dv-master-host {
    width: 100%;
    height: 100%;
    background: transparent;
    /* Forzar aceleración de hardware para modos de mezcla complejos */
    will-change: transform;
    contain: paint;
}

#dv-master-canvas {
    transform-origin: top left;
}

/* Soporte para variables dinámicas */
:root {
    --accent: #E44C30;
}
